* { box-sizing: border-box; }

body { 
    font-family: sans-serif; 
    /* display: flex; */
}

.grid {
    background: #EEE;
    margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
    display:inline-block;
    background-color:#EEE;
    line-height:0;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;
    -webkit-transition:background-color .5s ease-out;
    -moz-transition:background-color .5s ease-out;
    -o-transition:background-color .5s ease-out;
    transition:background-color .5s ease-out;
    padding:3px;
}

.grid-item:hover {
    background-color:#4ae;
    -webkit-transition:background-color 0;
    -moz-transition:background-color 0;
    -o-transition:background-color 0;
    transition:background-color 0;
}

.thumb {
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;
}

.folder {
    background-color:#FFFACD;
    width: {{ size }}px;
    height: {{ size }}px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 3px; */
    margin: 3px;
    color: #4ae;
    font-weight: bold;
}

a.folder:hover {
    color: #FFFACD;
}

/*
{% for thumbSize in thumbSizes %}
.grid-item-{{ thumbSize[0] }}-{{ thumbSize[1] }} {
    width: {{ thumbSize[0] }}px;
    height: {{ thumbSize[1] }}px;
}
{% endfor %}
*/